{
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "singleQuote": true,
  "endOfLine": "auto",
  "printWidth": 400,
  "trailingComma": "all",
  "importOrder": [
    "^react(.*)$",
    "classnames",
    "<THIRD_PARTY_MODULES>",
    "^@(.*)$",
    "^[./](?!.*\\.scss$)",
    "^.+\\.scss$"
  ],
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
